@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-variant-numeric: tabular-nums;
}

@media print {
  .no-print {
    display: none !important;
  }
  header {
    display: none !important;
  }
  body {
    background: white;
  }
  main {
    max-width: none !important;
    padding: 0 !important;
  }
}
